// (c) Crown Owned Copyright, 2016. Dstl.
.block-label-small {
  @extend .block-label;
  // background:transparent;
  // border:none;
  padding: (10px $gutter-half $gutter-half /2 $gutter * 1.1);

  input {
    position: absolute;
    top: 8px;
    left: $gutter-half / 2;
  }
}

.block-label-small:last-child {
  margin-bottom: 0;
}


.block-label-text .radio-free-text {
  display:block;
  width:auto;
  position: relative;
  top: auto;
  left: auto;
  cursor: auto;
  margin: 0;
  width: 100%;
  height: auto;
}

.block-label-text {
  padding: 18px 15px 15px 15px;
}