#global-header .header-wrapper .header-global {
	width:33.3%;
	float:left;

	.header-logo {
		width:100%;
	}
}

.header-proposition {
    width: 66.66%;
    float: left;
}

.user-name {
	color:white;
	float:left;
	margin-left:15px;
}

#proposition-menu {
	margin-left:15px
}