// (c) Crown Owned Copyright, 2016. Dstl.
.heading-snug-top {
	margin-top: -0em !important;
}

.heading-xlarge .back-to-parent {
	@extend .font-small;
	display: block;
}

.heading-body {
	font-weight:bold;
	margin-bottom:$gutter-half;
}
