{% extends "layout.html" %}

{% block grid_content %}
<form method="post" action="">

  {% if form.errors %}
  <ul class="form-error-list">
    {% for key,value in form.errors.items %}
    {% for error in value %}
    <li>{{ key }}: {{ value.as_text|cut:"* " }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}

  {% csrf_token %}
  <div class="form-group">
    <label class="form-label-bold" for="{{ form.name.id_for_label }}">
      Name:
    </label>
    <input class="form-control" id="{{ form.name.id_for_label }}" value="{{ form.name.value|default_if_none:"" }}" maxlength="256" name="name" type="text" />
  </div>
  <div class="form-group">
    <label class="form-label-bold" for="{{ form.description.id_for_label }}">
      Description:
    </label>
    <textarea class="form-control" cols="40" id="{{ form.description.id_for_label }}" name="description" rows="10">{{ form.description.value|default_if_none:"" }}</textarea>
  </div>
  <div class="form-group">
    <h2 class="form-label-bold">
      Is the tool internal or is it an external tool available
      online?
    </h2>

    <p>
      Select one of the options below.
    </p>

    <fieldset>
      <legend class="visuallyhidden">
        Is the tool internal or is it an external tool available
        online?
      </legend>

      <label for="{{ form.is_external.id_for_label }}_false"
        class="block-label form-control">
        <input id="{{ form.is_external.id_for_label }}_false" type="radio" name="is_external" value="False" {% if not form.instance.is_external %}checked="checked"{% endif %} />
        <span class="heading-small">In-house</span><br />
        For tools developed by a Dstl employee and hosted within our
        secure networks.
      </label>

      <label for="{{ form.is_external.id_for_label }}_true"
        class="block-label form-control">
        <input id="{{ form.is_external.id_for_label }}_true" type="radio" name="is_external" value="True" {% if form.instance.is_external %}checked="checked"{% endif %} />
        <span class="heading-small">External</span><br />
        For tools developed by an unrelated third party which are
        available online.
      </label>

    </fieldset>
  </div>
  <div class="form-group">
    <label class="form-label-bold">
      Categories:
    </label>
    {% for category in existing_categories %}
    <label class="link-category-label" for="{{ form.categories.id_for_label }}_{{ category }}">{{ category|capfirst }}</label>
    <input class="form-control" class="link-category-checkbox" id="{{ form.categories.id_for_label }}_{{ category }}" type="checkbox" value="{{ category }}" name="categories" {% if category in form.instance.categories.all %}checked="checked"{% endif %} />
    {% endfor %}
  </div>
  <div class="form-group">
    <label class="form-label-bold" for="{{ form.categories.id_for_label }}">
      Other categories:
    </label>
    <p class="form-hint">
      Any categories that aren't available in that list, comma-separated.
      <br>
      E.g., "social, geospatial".
    </p>
    <input class="form-control" id="{{ form.categories.id_for_label }}" value="" maxlength="256" name="categories" type="text" />
  </div>
  <label class="form-label-bold" for="{{ form.destination.id_for_label }}">
    Destination:
  </label>
  <input id="{{ form.destination.id_for_label }}" value="{{ form.destination.value|default_if_none:"" }}" maxlength="2000" name="destination" type="url" />
  <input type="submit" method="POST" value="Save bookmark" class="button" />
</form>

{% endblock %}
