{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="form-title heading-xlarge">Teams</h1>

    <p class="lede">
      These are the teams currently registered with the system. Click on a team to view the members in that team.
    </p>

    {% include "includes/team_list.html" with teams=object_list show_organisation=True %}
    <hr />
    {% include "includes/team_form.html" %}
  </div>

  <div class="column-one-third">
    {% include "includes/top_organisations.html" %}
    {% include "includes/top_teams.html" %}
  </div>
</div>



{% endblock %}
