{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}{{team.name}} – Teams{% endblock %}

{% block grid_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="form-title heading-xlarge">
      <span class="heading-secondary">Team</span>
      {{team.name}}
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p class="lede">
      This team is in the <a href="{% url "organisation-detail" team.organisation.pk %}">{{team.organisation}}</a> organisation,
      {% if team.user_set.count > 0 %}
        it contains the following members.
      {% else %}
        it doesn't contain any members at the moment. You can use the "Join Team" button below to be the first.
      {% endif %}
    </p>

    <ul class="list list-bullet member-list">
      {% for member in team.user_set.all %}
      <li><a class="main-list-item" href="{% url 'user-detail' member.slug %}">{{member}}</a></li>
      {% endfor %}
    </ul>

    {% if request.user.slug %}
    <hr />
    {% if team_member %}
      <form action="{% url "team-leave" team.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Leave team" class="button" />
      </form>
    {% else %}
      <form action="{% url "team-join" team.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Join team" class="button" />
      </form>
    {% endif %}
    {% endif %}

    <hr />
    <a href="{% url "team-list" %}">Back to teams</a>
  </div>

  <div class="column-one-third">
    <div class="side-element-holder" id="top_links_for_team">
      <h2 class="heading-large heading-snug-top">Tools</h2>
      {% if team.top_links|length > 0 %}
        <p>
          {% if team.top_links.count > 5 %}
            Here are the 5 tools this team has used the most in the last 30 days.
          {% else %}
            {% if team.top_links.count == 1 %}
              Here is the tool this team has used the most in the last 30 days.
            {% else %}
              Here are the {{team.top_links.count}} tools this team uses the most.
            {% endif %}
          {% endif %}
        </p>
        <ul class="list list-bullet" id="top_links_list">
          {% for link in team.top_links|slice:":5" %}
            <li><a class="main-list-item" href='{% url "link-detail" link.pk %}'>{{link.name}}</a>, {{ link.linkusagecount }} time{{ link.linkusagecount|pluralize }}.</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>
          We do not currently have enough data to display tools used by this team.
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
