{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">Login</h1>

  <form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label-bold" for="id_userid">
        Login with ID.
      </label>
      <p class="form-hint">
        Please use your normal system ID to log in here.
      </p>
      <input class="form-control" id="id_userid" maxlength="256" name="userid" type="text" autofocus="true">
      {% if has_js %}
      {% else %}
      <input type="hidden" id="jsinput" value="true">
      {% endif %}
    </div>
    <input type="submit" method="POST" value="Login" class="button button-start">
  </form>

{% endblock %}
