{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}New Tool{% endblock %}

{% block grid_content %}
{% if form.name.value %}
  <h1 class="form-title heading-xlarge">
    <span class="heading-secondary">Tool</span>
    Edit {{ form.name.value }}
  </h1>
{% else %}
  <h1 class="form-title heading-xlarge">
    <span class="heading-secondary">Tool</span>
    Add new tool
  </h1>
{% endif %}

<p class="lede">
  Please provide as much information as possible so other people will easily be able to understand what this tool does and why it's useful.
</p>

<form method="post" action="">
  {% if form.errors %}
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading">Your tool could not be saved</h2>
    {% ifequal form.errors.items|length 1 %}
    <p>There is a problem which needs solving before your tool can be saved</p>
    {% else %}
    <p>There are a few problems that need solving before your tool can be saved</p>
    {% endifequal %}
    <ul class="form-error-list error-summary-list">
      {% for key,value in form.errors.items %}
        {% for error in value %}
          <li class="error-message"><a href="#id_{{ key }}_group">{{ key|capfirst }}: {{ value.as_text|cut:"* " }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% csrf_token %}
  <div class="form-group{% if form.name.errors %} error{% endif %}" id="{{ form.name.id_for_label }}_group">
    <label class="form-label-bold" for="{{ form.name.id_for_label }}">
      Tool name
    </label>
    <p class="form-hint">
      For example, 'Google Maps'
    </p>
    {% if form.name.errors %}
    <ul id="{{ form.name.id_for_label }}_error_list">
      {% for error in form.name.errors %}
        <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="form-control" id="{{ form.name.id_for_label }}" value="{{ form.name.value|default_if_none:"" }}" maxlength="256" name="name" type="text" tabindex="1" autofocus="true" />
  </div>
  <div class="form-group{% if form.description.errors %} error{% endif %}">
    <label class="form-label-bold" for="{{ form.description.id_for_label }}">
      Description of tool
    </label>
    <p class="form-hint">
      Describe what the tool is and why it's needed.
    </p>
    <textarea class="form-control" cols="40" id="{{ form.description.id_for_label }}" name="description" rows="10">{{ form.description.value|default_if_none:"" }}</textarea>
  </div>
  <div class="form-group{% if form.is_external.errors %} error{% endif %}">
    <h2 class="form-label-bold">
      Is the tool internal or is it an external tool available
      online?
    </h2>

    <p>
      Select one of the options below.
    </p>
    {% if form.is_external.errors %}
    <ul id="{{ form.is_external.id_for_label }}_error_list">
      {% for error in form.is_external.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <fieldset>
      <legend class="visuallyhidden">
        Is the tool internal or is it an external tool available
        online?
      </legend>

      <label for="{{ form.is_external.id_for_label }}_false"
        class="block-label form-control">
        <input id="{{ form.is_external.id_for_label }}_false" type="radio" name="is_external" value="False" {% if not form.instance.is_external %}checked="checked"{% endif %} />
        <span class="heading-small">Internal</span><br />
        For tools developed by a Dstl employee and hosted within our
        secure networks.
      </label>

      <label for="{{ form.is_external.id_for_label }}_true"
        class="block-label form-control">
        <input id="{{ form.is_external.id_for_label }}_true" type="radio" name="is_external" value="True" {% if form.instance.is_external %}checked="checked"{% endif %} />
        <span class="heading-small">External</span><br />
        For tools developed by an unrelated third party which are
        available online.
      </label>

    </fieldset>
  </div>

  {% if existing_categories %}
  <div class="form-group">
    <label id="existing-categories-label" class="form-label-bold">
      Does the tool fit into any existing categories?
    </label>
    <p class="form-hint">
      Select as many categories as the tool will fit into.
      <br>
      If you can't find them in this list, you can add them in the next form
      field.
    </p>
    {% for category in existing_categories %}
    <label class="link-category-label block-label-small form-control" for="{{ form.categories.id_for_label }}_{{ category }}">
      <input class="form-control" class="link-category-checkbox" id="{{ form.categories.id_for_label }}_{{ category }}" type="checkbox" value="{{ category }}" name="categories" {% if category in form.instance.categories.all %}checked="checked"{% endif %} />
      <span class="heading-small">{{ category|capfirst }}</span>
    </label>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group{% if form.categories.errors %} error{% endif %}">
    <label class="form-label-bold" for="{{ form.categories.id_for_label }}">
      Does the tool fit into any categories which aren't yet listed?
    </label>
    <p class="form-hint">
      Type the unlisted categories, comma-separated.
      <br>
      E.g., "social, geospatial".
    </p>
    {% if form.categories.errors %}
    <ul id="{{ form.categories.id_for_label }}_error_list">
      {% for error in form.categories.errors %}
        <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="form-control" id="{{ form.categories.id_for_label }}" value="" maxlength="256" name="categories" type="text" />
  </div>

  <div class="form-group{% if form.destination.errors %} error{% endif %}" id="{{ form.destination.id_for_label }}_group">
    <label class="form-label-bold" for="{{ form.destination.id_for_label }}">
      Destination
    </label>
    <p class="form-hint">
      A URL to access the tool from a device connected to the Dstl network.
      <br>
      For example, 'https://maps.google.com/'
    </p>
    {% if form.destination.errors %}
    <ul id="{{ form.destination.id_for_label }}_error_list">
      {% for error in form.destination.errors %}
        <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="form-control" id="{{ form.destination.id_for_label }}" value="{{ form.destination.value|default_if_none:"" }}" maxlength="2000" name="destination" type="url" />
  </div>

  <input type="submit" method="POST" value="Save tool" class="button" />
</form>

{% endblock %}
