{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1>Tool usage stats</h1>

  {% if object_list|length > 0 %}
    <p>
      Download <a href='{% url "link-overall-stats-csv" %}'>all usage stats</a>
      as a CSV file.
    </p>

    <table>
      <tr>
        <th>Name</th>
        <th>Usage in the past 7 days</th>
        <th>Usage in the past 30 days</th>
        <th>Total usage</th>
      </tr>
      {% for link in object_list %}
        <tr>
          <td><a href='{% url "link-detail" link.pk %}'>{{link.name}}</a></td>
          <td class='usage-seven-days'>{{link.usage_past_seven_days}}</td>
          <td class='usage-thirty-days'>{{link.usage_past_thirty_days}}</td>
          <td class='usage-total'>{{link.usage.count}}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert-summary" role="group">
      <h3 class="heading-medium alert-summary-heading">No stats yet.</h3>
      <p>
        Hey there, there aren't any stats generated in the system yet. When users start
        using the tools more those statistics will appear here.
      </p>
    </div>
  {% endif %}

{% endblock %}
