{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<main id="content" role="main">

  <h1 class="form-title heading-xlarge">
    <span class="heading-secondary">Tool</span>
    {{link.name}} is a tool hosted outside of the Dstl network
  </h1>

<p>
  By clicking the "Yes, take me" button below your browser will be redirected
  to <strong>{{link.destination}}</strong>.
  <br>
  Are you sure you want to visit this tool?
</p>
<div class="form-group">
  <form method='get' action='{% url "link-redirect" link.pk %}'>
    <input type='hidden' name='redirect' value='redirect'>
    <a id="cancel_button" href="{% url "link-detail" link.pk %}" class="button button-secondary">Cancel</a>
    <button type='submit' id='confirm_redirect_button' class='button'
            data-href='{{link.destination}}'>Yes, take me</button>
  </form>

</div>
</main>

{% endblock %}
