{% extends "layout.html" %}

{% block grid_content %}
<form method="post" action="">
  {% csrf_token %}
  <label for="{{ form.name.id_for_label }}">Name:</label><input id="{{ form.name.id_for_label }}" value="{{ form.name.value|default_if_none:"" }}" maxlength="256" name="name" type="text">
  <label for="{{ form.description.id_for_label }}">Description:</label><textarea cols="40" id="{{ form.description.id_for_label }}" name="description" rows="10">{{ form.description.value|default_if_none:"" }}</textarea>
  <label for="{{ form.destination.id_for_label }}">Destination:</label><input id="{{ form.destination.id_for_label }}" value="{{ form.destination.value|default_if_none:"" }}" maxlength="2000" name="destination" type="url">
  <input type="submit" method="POST" value="Save bookmark">
</form>

{% endblock %}
