{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}{{link.name}} – Tools{% endblock %}

{% block grid_content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="form-title heading-xlarge">
          <span class="heading-secondary">Tool</span>
          {{link.name}}
        </h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="text">
          <p class="lede">
            {{link.description}}
          </p>
        </div>
        <div class="text">
            <a id="link_follow_button" class="button button-start" href="{% url "link-redirect" link.pk %}" target="_blank">
                Go to tool
            </a>
            <div class="link-aside">
                <a href="{% url "link-redirect" link.pk %}" target="_blank">
                    {{link.destination}}
                </a>
                <span class="link-hint font-xsmall">(will open the tool in a new window)</span>
            </div>
        </div>

        <h3 class="heading-medium">Who uses this tool?</h3>
        {% if link.top_users_thirty_days %}
            <p>
                In the last thirty days, {{link.name}} has been used by the
                following users, teams and organisations respectively.
                <a href='{% url "link-stats" pk=link.pk %}'>Full usage stats</a>
                are also available for this tool to view or download in CSV format.
            </p>
            <div class="grid-row">
                <div class="column-third">
                    <h3 class="heading-small">Users</h3>
                    <ul id="usage-by-users">
                        {% for user in link.top_users_thirty_days|slice:":5" %}
                        <li class="usage-by-users-list-item"><a href="{% url "user-detail" user.slug %}">{{user}}</a><span class="user-usage-count">{{user.link_usage_count}} time{{ user.link_usage_count|pluralize }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column-two-thirds">
                    <h3 class="heading-small">Teams</h3>
                    {% if link.top_teams_thirty_days %}
                    <ul id="usage-by-teams">
                        {% for t in link.top_teams_thirty_days|slice:":5" %}
                        <li><a href="{% url "team-detail" t.team.pk %}">{{t.team.name}}</a> have collectively used the tool <span class="team-org-usage-count">{{t.link_usage_count}} time{{ t.link_usage_count|pluralize }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No usage has occurred by users from any team in the last 30 days.</p>
                    {% endif %}
                    <h3 class="heading-small">Organisations</h3>
                    {% if link.top_organisations_thirty_days %}
                    <ul id="usage-by-organisations">
                        {% for o in link.top_organisations_thirty_days|slice:":5" %}
                        <li><a href="{% url "organisation-detail" o.organisation.pk %}">{{o.organisation.name}}</a> have collectively used the tool <span class="team-org-usage-count">{{o.link_usage_count}} time{{ o.link_usage_count|pluralize }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No usage has occurred by users from any organisation in the last 30 days.</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
        <p>In the last 30 days, {{link.name}} has not been used by any users.</p>
        {% endif %}
    </div>
    <div class="column-third">
        <h2 class="heading-large heading-snug-top">Tool details</h2>
        {% if link.added %}
        <p>Added on <span id="date_added">{{link.added|date:"d/m/Y"}}</span></p>
        {% endif %}
        {% if link.is_external %}
        <span id="is_external" class="external is-external-label">External</span>
        <p id="link_owner">
            {{link.name}} was added by <a href="{% url "user-detail" link.owner.slug %}">{{link.owner}}</a>.
        </p>
        {% else %}
        <span id="is_internal" class="internal is-internal-label">Internal</span>
        <p id="link_owner">
            {{link.name}} was created by <a href="{% url "user-detail" link.owner.slug %}">{{link.owner}}</a>.
        </p>
        {% endif %}
        {% if user_owns_link %}
        <p>
            Since you added it, you have permission to edit this tool.
        </p>
        <a class="button" id="edit-button" href="{% url "link-edit" link.id %}">Edit this tool</a>
        {% endif %}
        <h2 class="heading-medium">Categories</h2>
        {% if link.categories.count %}
        <ul>
        {% for category in link.categories.all %}
            <li class="category-label link-category">{{category|capfirst}}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>This link has not been categorised yet.</p>
        {% endif %}
        <h2 class="heading-medium">Recent usage</h2>
        <p id='usage-today'>Used <span class="stat-inline">{{link.usage_today}}</span> time{{ link.usage_today|pluralize }} today.</p>
        <p id='usage-seven-days'>Used <span class="stat-inline">{{link.usage_past_seven_days}}</span> time{{ link.usage_past_seven_days|pluralize }} in the last seven days.</p>
        <p id='usage-thirty-days'>Used <span class="stat-inline">{{link.usage_past_thirty_days}}</span> time{{ link.usage_past_thirty_days|pluralize }} in the last thirty days.</p>
        <p>
            View <a href='{% url "link-stats" pk=link.pk %}'>full usage stats</a>
            for this tool.
        </p>
    </div>
</div>

{% endblock %}
