{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}Tools{% endblock %}

{% block grid_content %}

<h1 class="form-title heading-xlarge">
  <span class="heading-secondary">Tools</span>
  All tools
</h1>

{% if total_links_in_db > 0 %}
<div class="grid-row">
  <div id="categories-filter" class="column-third">
    <form method="get" action="" id="list-results">
      <h2 class="filter-controls-header heading-medium heading-snug-top">Tool categories</h2>
      {# Category filters #}
      <div class="form-group">
        <input type="submit" value="Filter using selections below" class="button" />
      </div>
      <div class="form-group">
        {% for category in categories %}
        <label for="categories-filter-{{ category.name }}" class="block-label block-label-small">
          <h3>{{ category.name|capfirst }}</h3>
          <input type="checkbox" id="categories-filter-{{ category.name }}" value="{{ category.name }}" name="categories" {% if category.name in filtered_categories %}checked="checked"{% endif %} />
          </label>
          {% endfor %}
        </div>
        <div class="form-group">
          {# Internal/external filters #}
          <label for="types-filter-external" class="block-label block-label-small">
            <h3>External</h3>
            <input type="checkbox" id="types-filter-external" value="external" name="types" {% if 'external' in filtered_types %}checked="checked"{% endif %} />
          </label>
          <label for="types-filter-internal" class="block-label block-label-small">
            <h3>Internal</h3>
            <input type="checkbox" id="types-filter-internal" value="internal" name="types" {% if 'internal' in filtered_types %}checked="checked"{% endif %} />
          </label>
        </div>
        <div class="form-group">
          <input type="submit" value="Filter" class="button" />
        </div>
      </form>
    </div>
    <div class="column-two-thirds">
      <form class="form-group two-thirds-inline-search-form" action='/search/' method='get'>
        <input class="form-control search-box" type='text' name='q' id='q' tabindex="1" autofocus="true" />
        <button class="button search-button" type="submit">Search</button>
      </form>
      {% if object_list %}
      <h2 id="tools-header" class="link-list-header heading-medium heading-snug-top">Showing page {{ page_obj.number }} of {{ paginator.num_pages }}</h2>
      {% else %}
      <h2 id="tools-header">No results found.</h2>
      {% endif %}
      {% if object_list %}
      <ol>
        {% for link in object_list %}
          <li class="link-list-item">
            <h3 class="inline"><a href='{% url "link-detail" link.pk %}'>{{ link.name }}</a></h3>
            <p>{{ link.description }}</p>
            <span class="categories">
              {% if link.is_external %}
              <a id="link_{{link.id}}_external" href="?types=external" class="external is-external-label">External</a>
              {% else %}
              <a id="link_{{link.id}}_internal" href="?types=internal" class="internal is-external-label">Internal</a>
              {% endif %}
              {% for category in link.categories.all %}
              <a id="link_{{link.id}}_cat_{{category.name}}" href="?categories={{category.name}}" class="category-label">{{ category|capfirst }}</a>
              {% endfor %}
            </span>
          </li>
        {% endfor %}
      </ol>
      {% else %}
      <div id="no-results-message">
        <p class="heading-small">
          None of the published tools match the filters you applied.
          <br>
          Try removing some, or being less specific.
        </p>
      </div>
      {% endif %}

      {% include "includes/pagination.html" %}

    </div>
</div>
{% else %}
<div class="alert-summary" role="group">
  <h3 class="heading-medium alert-summary-heading">No tools have been added yet</h3>
  <p>
    The system doesn't yet have any tools recorded. Add the first tool, visit the "<a href="{% url 'link-create' %}">Add a new tool</a>" page.
  </p>
</div>
{% endif %}

{% endblock %}
