{% extends "layout.html" %}

{% block grid_content %}
<div class="grid-row">
  <div id="categories-filter" class="column-one-third">
    <form method="get" action="">
      {# Category filters #}
      {% for category in categories %}
      <label for="categories-filter-{{ category.name }}">
        <h3>{{ category.name|capfirst }}</h3>
        <input type="checkbox" id="categories-filter-{{ category.name }}" value="{{ category.name }}" name="categories" {% if category.name in filtered_categories %}checked="checked"{% endif %} />
      </label>
      {% endfor %}
      {# Internal/external filters #}
      <label for="types-filter-external">
        <h3>External</h3>
        <input type="checkbox" id="types-filter-external" value="external" name="types" />
      </label>
      <label for="types-filter-internal">
        <h3>Internal</h3>
        <input type="checkbox" id="types-filter-internal" value="internal" name="types" />
      </label>
      <input type="submit" value="Filter" />
    </form>
  </div>
  <div class="column-two-thirds">
    <ol>
      {% for link in object_list %}
        <li class="link-list-item">
          <a href='{% url "link-detail" link.pk %}'>{{ link.name }}</a>
          {% if link.is_external %}
          <span class="is-external-label">External</span>
          {% else %}
          <span class="is-external-label">Internal</span>
          {% endif %}
        </li>
        <p>{{ link.description }}</p>
      {% endfor %}
    </ol>

    <hr>

    {% if paginator.num_pages > 1 %}
      <ol class="pagination">
        {% for page in paginator.page_range %}
          {% if page == page_obj.number %}
            <li><em>{{ page }}</em></li>
          {% else %}
            <li><a href='?page={{ page }}'>{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}
  </div>
</div>
{% endblock %}
