{# (c) Crown Owned Copyright, 2016. Dstl. #}
<div class="header-proposition" style="position:relative">
  <div class="content">
    <nav id="proposition-menu">
      <div id="user-details">
        {% if request.user.is_authenticated %}
          {% include "includes/navigation_user_link.html" %}
        {% else %}
          <a href="{% url 'login' %}" class='login'>Login</a>
        {% endif %}
      </div>

      <a href="/" id="proposition-name">Lighthouse</a>

      {% if request.user.is_authenticated %}
        <ul class="navigation-menu" id="proposition-links">
          <li><a href="{% url 'link-list' %}">All tools</a></li>
          <li><a href="{% url 'link-create' %}">Add a new tool</a></li>
          <li><a href="{% url 'user-list' %}">All users</a></li>
          <li class="pull-right"><a href="{% url 'search-stats' %}">Search stats</a></li>
          <li class="pull-right"><a href="{% url 'link-overall-stats' %}">Tool stats</a></li>
        </ul>
      {% endif %}
      
    </nav>
  </div>
</div>
