{# (c) Crown Owned Copyright, 2016. Dstl. #}
<div class="header-proposition" style="position:relative">
  <div id="user-details">
    {% if request.user.is_authenticated %}
      {% if request.user.username %}
        <span class="user_id" data-slug="{{request.user.slug}}"><a href="{% url 'user-detail' request.user.slug %}">{{request.user.username}}</a></span> | <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <span class="user_id" data-slug="{{request.user.slug}}"><a href="{% url 'user-detail' request.user.slug %}">{{request.user.slug}}</a></span> | <a href="{% url 'logout' %}">Logout</a>
      {% endif %}
    {% else %}
      <a href="{% url 'login-view' %}">Login</a>
    {% endif %}
  </div>
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Lighthouse</a>

      <ul id="proposition-links">
        <li><a href="{% url 'link-list' %}">All tools</a></li>
        <li><a href="{% url 'user-list' %}">All users</a></li>
        <li><a href="{% url 'link-create' %}">Add a new tool</a></li>
      </ul>
    </nav>
  </div>
</div>
