{# (c) Crown Owned Copyright, 2016. Dstl. #}

{% include team_include %}

{% if organisation %}
<div class="form-group">
  <label id="organisation_label" class="form-label-bold">This team will be part of the "{{organisation.name}}" organisation.</label>
  <input type="hidden" name="organisation" value="{{ organisation.id }}" />
</div>
{% else %}
<div class="form-group{% if form.organisation.errors %} error{% endif %}" id="{{ form.organisation.id_for_label }}_group">
  <label id="existing-organisations-label" class="form-label-bold">
    To which organisation does this team belong?
  </label>
  <p class="form-hint">
    If none of the organisations listed below are the organisation you're looking for you can enter a new one.
  </p>
  {% if form.organisation.errors %}
  <ul id="{{ form.organisation.id_for_label }}_error_list">
    {% for error in form.organisation.errors %}
      <li class="error-message">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if form.fields.organisation.queryset %}
    {% for org in form.fields.organisation.queryset %}
    <label for="{{ form.organisation.id_for_label }}_{{org.id}}" class="block-label">
      <input id="{{ form.organisation.id_for_label }}_{{org.id}}" class="form-control" type="radio" name="organisation" value="{{org.id}}" />
      <span class="heading-small">{{org.name}}</span><br />
    </label>
    {% endfor %}
  {% endif %}

  {% if organisations %}
    {% for org in organisations %}
    <label for="organisation_id_{{ forloop.counter }}" class="block-label">
      <input id="organisation_id_{{ forloop.counter }}" type="radio" name="organisation" value="{{org.id}}" />
      <span class="heading-small">{{org.name}}</span><br />
    </label>
    {% endfor %}
  {% endif %}

  <label for="{{ form.new_organisation.id_for_label }}" class="block-label form-control no-highlight block-label-text">
    <span class="heading-small">Add a new organisation</span><br />
    <input class="form-control radio-free-text" id="{{ form.new_organisation.id_for_label }}" maxlength="256" name="new_organisation" type="text" value="{{ form.new_organisation.value|default_if_none:"" }}">
  </label>
</div>
{% endif %}
