{# (c) Crown Owned Copyright, 2016. Dstl. #}
<h2 class="form-title heading-large">Create a new team</h2>
<form method="post" action="{% url 'team-create' %}">
  {% csrf_token %}
  {% if form.errors %}
  <div class="error-summary">
    <h2 class="heading-medium error-summary-heading">Your team could not be saved</h2>
    {% ifequal form.errors.items|length 1 %}
    <p>There is a problem which needs solving before your team can be saved</p>
    {% else %}
    <p>There are a few problems that need solving before your team can be saved</p>
    {% endifequal %}
    <ul class="form-error-list error-summary-list">
      {% for key,value in form.errors.items %}
        {% for error in value %}
          <li class="error-message"><a href="#id_{{ key }}_group">{{ key|capfirst }}: {{ error|cut:"* " }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="form-group{% if form.name.errors %} error{% endif %}" id="{{ form.name.id_for_label }}_group">
    <label for="{{ form.name.id_for_label }}" class="form-label-bold">
      What is this team called?
    </label>
    {% if form.name.errors %}
    <ul id="{{ form.name.id_for_label }}_error_list">
      {% for error in form.name.errors %}
        <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="form-control" id="{{ form.name.id_for_label }}" maxlength="256" name="name" type="text">
  </div>

  <div class="form-group{% if form.organisation.errors %} error{% endif %}" id="{{ form.organisation.id_for_label }}_group">
    <label id="existing-organisations-label" class="form-label-bold">
      To which organisation does this team belong?
    </label>
    <p class="form-hint">
      If none of the organisations listed below are the organisation you're looking for you can enter a new one.
    </p>
    {% if form.organisation.errors %}
    <ul id="{{ form.organisation.id_for_label }}_error_list">
      {% for error in form.organisation.errors %}
        <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% for org in form.fields.organisation.queryset %}
    <label for="{{ form.organisation.id_for_label }}_{{org.id}}" class="block-label form-control">
      <input id="{{ form.organisation.id_for_label }}_{{org.id}}" type="radio" name="organisation" value="{{org.id}}" />
      <span class="heading-small">{{org.name}}</span><br />
    </label>
    {% endfor %}
    <label for="{{ form.new_organisation.id_for_label }}" class="block-label block-label-text form-control">
      <span class="heading-small">Add a new organisation</span><br />
      <input class="form-control radio-free-text" id="{{ form.new_organisation.id_for_label }}" maxlength="256" name="new_organisation" type="text">
    </label>
  </div>

  <input type="submit" method="POST" value="Create team" class="button">
</form>
