<ul class="list list-bullet team-list">
  {% for team in teams %}
    <li><a class="main-list-item" href='{% url "team-detail" team.pk %}'>{{team.name}}</a>
      <ul class="list team-info">
        {% if show_organisation %}
          <li>Organisation: <a href='{% url "organisation-detail" team.organisation.pk %}'>{{team.organisation.name}}</a></li>
        {% endif %}
        {% ifequal team.user_set.all|length 0 %}
        <li>This team has no members</li>
        {% else %}
        <li>Total members: {{team.user_set.all|length}}</li>
        {% endifequal %}
      </ul>
    </li>
  {% endfor %}
</ul>
