{# (c) Crown Owned Copyright, 2016. Dstl. #}
<h2 class="form-title heading-large">Create a new team</h2>
<form method="post" action="{% url 'team-create' %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="form-group">
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}" class="form-label-bold">
        What is this team called?
      </label>
      <input class="form-control" id="{{ form.name.id_for_label }}" maxlength="256" name="name" type="text">
    </div>

    <div class="form-group">
      <label id="existing-categories-label" class="form-label-bold">
        To which organisation does this team belong?
      </label>
      <p class="form-hint">
        If none of the organisations listed below are the organisation you're looking for you can enter a new one.
      </p>
      {{ form.non_field_errors }}
      {{ form.organisation.errors }}
      {% for org in form.fields.organisation.queryset %}
      <label for="{{ form.organisation.id_for_label }}_{{org.id}}" class="block-label form-control">
        <input id="{{ form.organisation.id_for_label }}_{{org.id}}" type="radio" name="organisation" value="{{org.id}}" />
        <span class="heading-small">{{org.name}}</span><br />
      </label>
      {% endfor %}
      <label for="{{ form.new_organisation.id_for_label }}" class="block-label block-label-text form-control">
        <span class="heading-small">Add a new organisation</span><br />
        <input class="form-control radio-free-text" id="{{ form.new_organisation.id_for_label }}" maxlength="256" name="new_organisation" type="text">
      </label>
    </div>

  </div>
  <input type="submit" method="POST" value="Create team" class="button">
</form>
