{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% if top_teams %}
  <div class="side-element-holder" id="teams-holder">
    <h2 class="heading-medium">"Top" Teams</h2>
    <ul class="list list-bullet">
      {% for team in top_teams|slice:":20" %}
        <li><a class="main-list-item" href='{% url "team-detail" team.pk %}'>{{team.name}}</a> ({{team.user_set.all|length}})</li>
      {% endfor %}
    </ul>
    {% if top_teams.count > 20 %}
      <a href="{% url "team-list" %}">See all teams</a>
    {% endif %}
  </div>
{% endif %}
