{# (c) Crown Owned Copyright, 2016. Dstl. #}
<div class="side-element-holder" id="top_links_for_user">
  <h2 class="heading-large heading-snug-top">"Top" Tools used by user</h2>
  {% if user.top_links %}
    <ul class="list list-bullet">
      {% for link in user.top_links|slice:":20" %}
        <li><a class="main-list-item" href='{% url "link-detail" link.pk %}'>{{link.name}}</a> ({{link.linkusagecount}})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      We don't have enough data to display at this time.
    </p>
  {% endif %}
</div>
