{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}Search statistics{% endblock %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">
    <span class="heading-secondary">Tools</span>
    Search stats
  </h1>
  <p class="lede">
    This page contains a summary of the most popular search terms of the last thirty days, as well as the most popular unfulfilled search terms.<br>The full search statistics are also available as
    <a href='{% url "search-stats-csv" %}'>a CSV file</a> which includes each query's term, date and the username of the user who performed the search.
  </p>
  <div class="grid-row statistics-grid">
    <div class="column-half">
      <h2 class="heading-medium">Top terms in the last 30 days</h2>
      <p>These are the most searched-for terms in the last 30 days which have returned any number of results.</p>
      <table id="search-queries-top-30">
        <tr>
          <th>Search term</th>
          <th>Number of searches</th>
        </tr>
        {% for query in top_searches %}
        <tr>
          <td class='search-term'>{{query.term__query}}</td>
          <td class='results'>{{query.total_searches}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column-half">
      <h2 class="heading-medium">Top unfulfilled terms in the last 30 days</h2>
      <p>These are the most searched-for terms in the last 30 days which have returned no results.</p>
      <table id="search-unfulfilled-queries-top-30">
        <tr>
          <th>Search term</th>
          <th>Number of searches</th>
        </tr>
        {% for query in top_unfulfilled_searches %}
        <tr>
          <td class='search-term'>{{query.term__query}}</td>
          <td class='results'>{{query.total_searches}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="form-group">
    <a class="button" id="csv-download-all" href="{% url "search-stats-csv" %}">Download CSV of all search queries</a>
  </div>

{% endblock %}
