{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}Search{% endblock %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">Tools</h1>

  <form class="form-group two-thirds-inline-search-form" action='/search/' method='get'>
    <input class="form-control search-box" id='q' type="text" value="{{ form.q.value }}" name='q' tabindex="1" autofocus="true" />
    <button class="button search-button" type="submit">Search</button>
  </form>

  {% if query %}
    {% if page.object_list %}
      <h2 class="heading-medium">Results</h2>

      <ul id='search-results'>
        {% for result in page.object_list %}
          <li class="link-list-item">
            <h3 class="inline"><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h3>
            <p>{{ result.object.description }}</p>
            <span class="categories">
              {% if result.object.is_external %}
              <span class="external is-external-label">External</span>
              {% else %}
              <span class="internal is-external-label">Internal</span>
              {% endif %}
            </span>
          </li>
        {% endfor %}
      </ul>

      {% if page.has_previous or page.has_next %}
        <div>
          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}
    {% else %}
      <p>No results found for <q>{{query}}</q>.</p>
    {% endif %}
  {% endif %}

{% endblock %}
