{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1>Search stats</h1>

  <p>
    Download
    <a id="csv-download-all" href='{% url "search-stats-csv" %}'>full usage stats</a>
     as a CSV file</a>.
  </p>

  <table id="search-queries">
    <tr>
      <th>Search term</th>
      <th>Time of search</th>
      <th>Number of results</th>
    </tr>
    {% for query in object_list %}
    <tr>
      <td class='search-term'>{{query.term}}</td>
      <td class='results'>{{query.results_length}}</td>
      <td class='search-time'>{{query.when|date:"d/m/Y, H:i"}}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
