{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "base.htm" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "application.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block global_header_text %}
[dstl]
{% endblock %}

{% block homepage_url %}/{% endblock %}

{% block content %}
<div id="content">
	{% block grid_content %}
	{% endblock %}
</div>
{% endblock %}

{% block body_end %}
    {% compress js %}
		<script type="text/javascript" src="{% static "vendor/jquery-1.11.0.min.js" %}"></script>
		<script type="text/javascript" src="{% static "govuk/selection-buttons.js" %}"></script>
		<script type="text/javascript" src="{% static "lighthouse.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block proposition_header %}
{% include "includes/navigation.html" %}
{% endblock %}

{% block footer_support_links %}
<ul>
  <li><a href="/about">About Lighthouse</a></li>
  <li><a href='/api/'>API documentation</a></li>
</ul>
{% endblock %}
