{% extends "base.htm" %}
{% load staticfiles %}

{% block page_title %}
  Lighthouse
{% endblock %}

{% block head %}
<link href="{% static 'stylesheets/lighthouse.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block cookie_message %}
  <p>
    Lighthouse uses cookies to make the site simpler.
    <a href='#'>Find out more about cookies</a>
  </p>
{% endblock %}

{% block global_header_text %}
[dstl]
{% endblock %}

{% block homepage_url %}/{% endblock %}

{% block content %}
<div id="content">
	{% block grid_content %}
	{% endblock %}
</div>
{% endblock %}
