{% extends "base.htm" %}
{% load staticfiles %}
{% load compress %}

{% block page_title %}
  Lighthouse
{% endblock %}

{% block head %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "application.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block cookie_message %}
  <p>
    Lighthouse uses cookies to make the site simpler.
    <a href='#'>Find out more about cookies</a>
  </p>
{% endblock %}

{% block global_header_text %}
[dstl]
{% endblock %}

{% block homepage_url %}/{% endblock %}

{% block content %}
<div id="content">
	{% block grid_content %}
	{% endblock %}
</div>
{% endblock %}

{% block proposition_header %}
{% include "includes/navigation.html" %}
{% endblock %}
