{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}Organisations{% endblock %}

{% block grid_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="form-title heading-xlarge">Organisations</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if total_organisations_in_db > 0 %}
        <p class="lede">
          These are the organisations currently registered with the system. Click on an organisation to view the teams in that organisation.
        </p>

        <ul class="list list-bullet organisation-list">
          {% for organisation in object_list %}
            <li><a class="main-list-item" href='{% url "organisation-detail" organisation.pk %}'>{{organisation.name}}</a>
              <ul class="list organisation-info">
                {% ifequal organisation.team_set.all|length 0 %}
                <li>This organisation has no teams</li>
                {% else %}
                <li>Total teams: {{organisation.team_set.all|length}}</li>
                {% endifequal %}
              </ul>
            </li>
          {% endfor %}
        </ul>

        {% include "includes/pagination.html" %}

      {% else %}
        <div class="alert-summary" role="group">
          <h3 class="heading-medium alert-summary-heading">No organisations added yet.</h3>
          <p>
            Hey there, it doesn't look like any organisations have been added to the system yet. That means you're a super early adopter!
          </p>
          <p>
            Use the form below to add the 1st organisation, you trendsetter!
          </p>
        </div>
      {% endif %}

      <hr />

      <form method="post" id="organisation_form" action="{% url 'organisation-create' %}">
        {% csrf_token %}
        <div class="form-group">
          <label class="form-label-bold" for="id_slug">
            Create new organisation.
          </label>
          <p class="form-hint">
            If an organisation isn't in the list above then you can add it here.
          </p>
          <input class="form-control" id="id_name" maxlength="256" name="name" type="text" tabindex="1" />
        </div>
        <input type="submit" method="POST" value="Add organisation" class="button">
      </form>
    </div>

    <div class="column-one-third">
      {% include "includes/top_organisations.html" %}
      {% include "includes/top_teams.html" %}
    </div>
  </div>


{% endblock %}
