{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<h1 class="form-title heading-xlarge">Organisation: {{organisation.name}}</h1>

{% if teams %}
  <p class="lede">
    This Organisation contains the following teams.
  </p>
  {% include "includes/team_list.html" with teams=teams show_organisation=False %}
  <form method="post" action="{% url 'organisation-team-create' org_id=organisation.id %}?success={{ request.path }}">
    {% csrf_token %}
    <h2 class="heading-medium">Add a new team to this organisation</h2>
    <p class="form-hint">
      If there's a team missing from this organisation you can create it here
      and it will be automatically added to the list above.
    </p>
    <input type="hidden" name="organisation" value="{{organisation.id}}">
    <div class="form-group">
      <label for="id_new_team" class="form-label-bold">
        What is this team called?
      </label>
      <input class="form-control" type="text" id="id_new_team" name="name">
    </div>
    <div class="form-group">
      <button class="button" type="submit">Create team</button>
    </div>
  </form>
{% else %}
  <p class="lede">
    This Organisation contains no teams, maybe you can add some?
  </p>
  <a class="button" href="{% url 'team-create' %}">Add related teams</a>
{% endif %}

<hr />

<a href="{% url 'organisation-list' %}">Back to organisations</a>

{% endblock %}
