{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<h1 class="form-title heading-xlarge">Organisation: {{organisation.name}}</h1>

{% if teams %}
  <p class="lede">
    This Organisation contains the following teams.
  </p>
  {% include "includes/team_list.html" with teams=teams show_organisation=False %}
{% else %}
  <p class="lede">
    This Organisation contains no teams, maybe you can add some?
  </p>
  <a class="button" href="{% url 'team-create' %}">Add related teams</a>
{% endif %}

<hr />

<a href="{% url 'organisation-list' %}">Back to organisations</a>

{% endblock %}
