{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block page_title %}Users{% endblock %}

{% block grid_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Users</h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form-group two-thirds-inline-search-form" action="" method="get">
      <div class="form-group two-thirds-inline-search-form">
        <input class="form-control search-box" type='text' name='q' id='q' autofocus="true" value="{{query|default_if_none:''}}" />
        <button class="button search-button" type="submit">Search</button>
      </div>
    </form>
    {% if total_users_in_db > 0 %}
      {% if query %}
      <p class="lede">
        Your search returned {{object_list|length}} user{{object_list|length|pluralize}}.
      </p>
      {% else %}
      <p class="lede">
        These are the users currently registered with the system. Click on a user to view more information, or enter a search term above to find a user that you're looking for.
      </p>
      {% endif %}

      <ul class="list list-bullet user-list" id="user-list">
        {% for user in object_list %}
          <li><a class="main-list-item" href='{% url "user-detail" user.slug %}'>{{user.full_name}}</a></li>
        {% endfor %}
      </ul>

      {% include "includes/pagination.html" %}

    {% else %}
      <div class="alert-summary" role="group">
        <h3 class="heading-medium alert-summary-heading">No users added yet.</h3>
        <p>
          Hey there, it doesn't look like any users have been added to the system
          yet. Which is crazy, because there has to be at least one (you) to be
          logged in and view this page.
        </p>
        <p>
          Regardless of the impossible: <a href="{% url 'login' %}">go and create the first user</a>.
        </p>
      </div>
    {% endif %}
  </div>

  <div class="column-one-third">
    {% include "includes/top_organisations.html" %}
    {% include "includes/top_teams.html" %}
  </div>
</div>
{% endblock %}
