{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Users</h1>

    <p class="lede">
      These are the users currently registered with the system. Click on a user to view more information.
    </p>

    <ul class="list list-bullet user-list">
      {% for user in object_list %}
        <li><a class="main-list-item" href='{% url "user-detail" user.slug %}'>{{user.slug}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="column-one-third">
    {% include "includes/top_organisations.html" %}
    {% include "includes/top_teams.html" %}
  </div>
{% endblock %}
