{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<h1 class="form-title heading-xlarge">
  <span class="heading-secondary">Update profile</span>
  Manage team membership
</h1>

<p class="lede">
  You can be a member of as many teams as you like, and each team is part of
  an organisation. On this page, you can join or leave teams by checking or unchecking
  the boxes next to the team names, or create whole new teams to join.
</p>

{% if request.user.teams.count = 0 %}
  <div class="error-summary" role="group">
    <h3 class="heading-medium error-summary-heading">Please add additional team information</h3>
    <p>
      Before you start using Lighthouse you should indicate which
      teams you're a member of. If you don't see the teams listed (or there are
      no teams listed) then you can add them on this page.
    </p>
  </div>
{% endif %}

<form method="post" action="{% url 'user-updateprofile' slug=user.slug %}">
  {% csrf_token %}
  <div class="form-group {% if request.user.teams.count = 0 %}error{% endif %}">
    {% if show_teams_alert %}
      <span class="error-message">
        Please supply at least one team you are a member of.
      </span>
    {% endif %}

    {% if teams %}
      <div class="form-group">
        <label class="form-label-bold" for="teams">
          Teams
        </label>

        <p class="form-hint">
          Please check all the teams of which you are a member.
        </p>
        {% for team in teams %}
          <label for="team_{{team.id}}" class="block-label">
            <input id="team_{{team.id}}" type="checkbox" name="team" value="{{team.id}}" {% if team.checked %}checked{% endif %} />
            <span class="heading-small">{{team.name}}</span> <span class="font-xsmall">({{team.organisation.name}})</span>
          </label>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      <label class="form-label-bold" for="teams">
        <h2 class="bold-medium">Create a new team.</h2>
      </label>
      {% include "includes/team_form_inner.html" %}
    </div>
  </div>
  <input type="submit" name="submit_action" id="save-add-new-team" value="Save and add a new team" class="button" />
  <input type="submit" name="submit_action" value="Save and finish" class="button" />
</form>
{% endblock %}
