{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

<h1 class="form-title heading-xlarge">User:
{% if user.username %}
  {{user.username}}
{% else %}
  {{user.slug}}
{% endif %}
</h1>

<p class="lede">
  Hey there, welcome to this users page. Here's some handy information should
  you wish to contact them...
</p>

{% if user.best_way_to_find %}
  <h3 class="heading-medium">The best way to find this user is:</h3>
  <div class="panel panel-border-wide">
    <p>
      {{user.best_way_to_find}}
    </p>
  </div>
{% endif %}

{% if user.best_way_to_contact %}
  <h3 class="heading-medium">The best way to contact this user is:</h3>
  <div class="panel panel-border-wide">
    <p>
      {{user.best_way_to_contact}}
    </p>
  </div>
{% endif %}

<p>
  <ul>
    {% if user.phone %}<li>Phone: {{user.phone}}</li>{% endif %}
    {% if user.email %}<li>email: <a href="mailto:{{user.email}}">{{user.email}}</a></li>{% endif %}
  </ul>
</p>

{% ifequal request.user.slug user.slug %}
  <hr />
  <a href="{% url 'user-updateprofile' request.user.slug %}" class="button">Update your profile</a>
{% endifequal %}

{% endblock %}
