{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">Login</h1>

  {% if users %}
    <p class="heading-small">
      Please use on of the following user IDs to login as.
    </p>

    <ul>
      {% for user in users %}
        <li><a href='{% url "login-user" user.slug %}'>{{user.slug}}</a></li>
      {% endfor %}
    </ul>
  <hr />
  {% endif %}

  <form method="post" action="{% url "user-create" %}">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label-bold" for="id_slug">
        Login with ID.
      </label>
      <p class="form-hint">
        If your user ID isn't in the list above, then you can register it with
        the system here.
      </p>
      <input class="form-control" id="id_slug" maxlength="256" name="slug" type="text">
    </div>
    <input type="submit" method="POST" value="Login" class="button">
  </form>

{% endblock %}
