{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">Login</h1>

  <form method="post" action="{% url "user-create" %}">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label-bold" for="id_slug">
        Login with ID.
      </label>
      <p class="form-hint">
        Please use your normal system ID to log in here.
      </p>
      <input class="form-control" id="id_slug" maxlength="256" name="slug" type="text">
    </div>
    <input type="submit" method="POST" value="Login" class="button">
  </form>

  {% if users %}
  <hr />
    <p class="heading-small">
      [DEBUG]
    </p>
    <p class="form-hint">
       Alternatively for debug purposes, you can quick login as a user from the list below.
    </p>

    <ul>
      {% for user in users %}
        {% if next %}
        <li><a href='{% url "login-user" user.slug %}?next={{next}}'>{{user.slug}}</a></li>
        {% else %}
        <li><a href='{% url "login-user" user.slug %}'>{{user.slug}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}


{% endblock %}
