{# (c) Crown Owned Copyright, 2016. Dstl. #}
{% extends "layout.html" %}

{% block grid_content %}

  <h1 class="form-title heading-xlarge">Login</h1>

  <form method="post" action="{% url "login-view" %}">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label-bold" for="id_slug">
        Login with ID.
      </label>
      <p class="form-hint">
        Please use your normal system ID to log in here.
      </p>
      <input class="form-control" id="id_slug" maxlength="256" name="slug" type="text" tabindex="1" autofocus="true">
    </div>
    <input type="submit" method="POST" value="Login" class="button">
  </form>
  <script>document.forms['organisation_form'].elements['id_slug'].focus()</script>

{% endblock %}
